<form id="main" hx-post="/name" hx-target="#main" hx-trigger="submit">
  <input name="name" type="text" placeholder="name here" />
  <input name="count" />
  <button type="submit">
    Submit
  </button>
</form>